body {
  background-image: linear-gradient(to right, gainsboro, rgb(59, 59, 170));
}
h1 {
  font-size: 65px;
  text-align: center;
  color: gainsboro;
  background-color: black;
  font-family: fantasy;
}
H2 {
  font-size: 20px;
  color: gainsboro;
  background-color: black;
  position: absolute;
  top: 100px;
  left: 455px;
}
head {
  color: black;
}
fieldset {
  width: 40px;
  padding: 25px;
  size: 50px;
  margin: 0 auto;
  background-color: gainsboro;
  width: 400px;
}

form {
  font-size: 25px;
  text-align: center;
}
#pick-your-county {
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 550px;
}
#county-list {
  position: absolute;
  bottom: 135px;
  left: 515px;
  text-align: center;
  width: 400px;
  text-size-adjust: 400px;
}
#pick-your-county {
  color: red;
}
